# ========= DEVICE =============

DEVICE:device:device
manufacturer=SECEOLE
model=ST0NK5
firmware_version=1.5
serial_number=0136431912
hardware_id=1129379410
scope=onvif://www.onvif.org/Profile/Streaming
scope=onvif://www.onvif.org/hardware/Raspberry
scope=onvif://www.onvif.org/location/country/Drogirep
scope=onvif://www.onvif.org/location/position/Back
scope=onvif://www.onvif.org/name/camera-back

# ========= STREAM ==============

STREAM:stream:stream
#encoder=vaapih264enc
camera_lib=camera/lib/libdummycam.so

# ========= CONFIGURATIONS =============

VIDEO:Main:video_main

ENCODER:Main:encoder_main

PTZ:Main:ptz_main
abs_zoom=true
rel_zoom=true
con_zoom=true
zoom_speed=0.1
zoom_min=0.0
zoom_max=1.0
node_token=main_node

# ========= NODES ==============

NODE:Main:main_node
abs_zoom_min=0.0
abs_zoom_max=1.0
rel_zoom_min=-0.1
rel_zoom_max=0.1
con_zoom_min=-1.0
con_zoom_max=1.0
speed_zoom_min=0.0
speed_zoom_max=1.0

# ========= PROFILE =============

PROFILE:Main:main
video_conf=video_main
encoder_conf=encoder_main
ptz_conf=ptz_main
